html {
  overflow-y: scroll;
}

body {
  padding-top: 50px;
}

#todo-list {
  margin-bottom: 30px;
}

#todo-form {
  margin-bottom: 50px;
}

.ng-invalid.ng-dirty {
  border-color: red;
  border-width: 2px;
}

.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: red; 
}